<html class="html">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link media="all" type="text/css" rel="stylesheet" href="/auth0-profile.css" />
</head>

<body>
    <div style="display:none;" id="deleteaccount">
        <h2>Account Deletion</h2>
        <div class="hr"></div>
        <h3> Are you sure you want to permanently delete your Fox News Digital account? You will lose your activity history and email preferences.</h3> {* confirmDeactivateForm *} {* confirmDeactivateButton *} {* /confirmDeactivateForm *}
    </div>
    <div id="editProfile">
        <div id="accounts-header">
            <ul>
                <li id="account-tab" class="active tabs"><a href="#">Account</a></li>
            </ul>
        </div>
        <div id="account-wrap" class="wrap">
            {* savedProfileMessage *} {* #photoManager {"custom": true} *} {| mainDiv |} {| profileImage |}
            <div class="capture_fox_photoLinks">
                <h2>{* public_displayName *}</h2>
                <div id="capture_profile_saved" style="display:none;"><span class="capture_fox_profile_saved"></span>Your profile was last saved <span class="capture_fox_alert_callout" id="capture_alert_callout">just now</span></div>
                {| photoLinks |}
                <span class="janrain_logout"><a href="#">Log Out</a></span>
                <span class="janrain_traditional_account_only">
                <a href="#" data-capturescreen="changepassword" class="capture_fox_change_password">Change Password</a>
            </span>
                <span class="janrain_delete_account">
                <a href="#" data-capturescreen="deleteaccount" class="capture_fox_delete_account">Delete Account</a>
            </span>
                <div class="cancel-button"><span></span>Back</div>
            </div>
            {| closeDiv |}
            <!-- hidden upload form -->
            <div style="display: none;">
                {| uploadFormOpen |} {| uploadFileField |} {| uploadSubmitButton |} {| photoChooserErrors |} {| uploadFormClose |}
            </div>
            {* publicProfileLink *}
            <h3>Profile</h3>
            <div class="hr"></div>
            <div class="capture_fox_editProfile">
                {* editProfileForm *} {* edit_displayName *} {* edit_firstName *} {* edit_lastName *} {* edit_email *} {* edit_country *} {* edit_state *} {* edit_zip *} {* edit_birthdate *} {* edit_gender *} {* politicalViews *}
                <div id="politicalViewsSliderWrapper">
                    <div class="capture_tip">
                        <div class="description">
                            <p>This information will stay private unless you choose to make it public within your user profile.</p>
                            <div class="arrow-right"></div>
                        </div>
                    </div>
                    <div id="politicalViews_container" class="capture_slider_container capture_politicalViews_container">
                        <div id="politicalViews_base" class="capture_slider_base capture_politicalViews_base">
                            <div id="politicalViews_marker" class="capture_slider_marker capture_politicalViews_marker" style="left: 50%;"></div>
                        </div>
                        <div class="capture_slider_list">
                            <ul id="politicalViews_labels">
                                <li>Liberal</li>
                                <li>Democrat</li>
                                <li>Independent</li>
                                <li>Republican</li>
                                <li>Conservative</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="newsletter-container">
                    <h3>Newsletter Subscriptions</h3>
                    <div class="hr"></div>
                    <div class="news-sub-form">
                        <label for="top-headline">
                            <input type="checkbox" name="" id="foxnewsletterIDList_71" value="" />Fox News Top Headlines</label>
                        <label for="fn-breaking-alerts">
                            <input type="checkbox" name="" id="foxnewsIDList_35" value="" />Fox News Breaking News Alerts</label>
                        <label for="bo-opinion">
                            <input type="checkbox" name="" id="foxnewsletterIDList_96" value="" />Best of Opinion</label>
                        <label for="fb-breaking-alerts">
                            <input type="checkbox" name="" id="foxbusinessIDList_32" value="" />Fox Business Breaking News Alerts</label>
                        <label for="fox-411">
                            <input type="checkbox" name="" id="foxnewsletterIDList_106" value="" />Fox 411</label>
                        <label for="scitech-geek">
                            <input type="checkbox" name="" id="foxnewsletterIDList_153" value="" />SciTech Geek Sheet</label>
                        <label for="fb-morn-head">
                            <input type="checkbox" name="" id="foxnewsletterIDList_151" value="" />Fox Business Morning Headlines</label>
                        <label for="health-weekly">
                            <input type="checkbox" name="" id="foxnewsletterIDList_160" value="" />Health Weekly Dose</label>
                        <label for="most-pop">
                            <input type="checkbox" name="" id="foxnewsletterIDList_69" value="" />Fox Business Most Popular</label>
                        <label for="fn-morn-head">
                            <input type="checkbox" name="" id="foxnewsletterIDList_144" value="" />Fox News Morning Headlines</label>
                        <label for="fan-scoop">
                            <input type="checkbox" name="" id="foxpromosIDList_43" value="" />Fox Fan Scoop</label>
                        <label for="fn-fired">
                            <input type="checkbox" name="" id="foxnewsletterIDList_99" value="" />Fox Nation Fired Up</label>
                        <label for="halftime-report ">
                            <input type="checkbox" name="" id="foxnewsletterIDList_261" value="" />Halftime Report</label>
                    </div>
                </div>
                <h3>Commenting Notifications</h3>
                <div class="hr"></div>
                {* table *}
                <div class="hr"></div>
                <div class="capture_fox_clearfix">
                    <div class="capture_right capture_checkbox">
                        {* autofollow_conversations *}
                    </div>
                </div>
                <h3>Linked Accounts</h3>
                <div class="hr"></div>
                {* linkedAccounts *} {* linkAccountContainer *}
                <h2>Linked Accounts</h2>
                <div class="hr"></div>
                <a href="#" onclick="janrain.engage.signin.triggerFlow('facebook')" class="capture_secondary capture_fox_social_btn capture_facebook"><span class="janrain-provider-icon-24"><img src="//global.fncstatic.com/static/v/all/img/clear.gif" alt="Facebook" height="24" width="24" /></span>&nbsp;&nbsp;Facebook</a>
                <a href="#" onclick="janrain.engage.signin.triggerFlow('googleplus')" class="capture_secondary capture_fox_social_btn capture_google"><span class="janrain-provider-icon-24"><img src="//global.fncstatic.com/static/v/all/img/clear.gif" alt="Google" height="24" width="24" /></span>&nbsp;&nbsp;Google+</a>
                <a href="#" onclick="janrain.engage.signin.triggerFlow('twitter')" class="capture_secondary capture_fox_social_btn capture_twitter"><span class="janrain-provider-icon-24"><img src="//global.fncstatic.com/static/v/all/img/clear.gif" alt="Twitter" height="24" width="24" /></span>&nbsp;&nbsp;Twitter</a>
                <a href="#" onclick="janrain.engage.signin.triggerFlow('yahoo')" class="capture_secondary capture_fox_social_btn capture_yahoo"><span class="janrain-provider-icon-24"><img src="//global.fncstatic.com/static/v/all/img/clear.gif" alt="Yahoo" height="24" width="24" /></span>&nbsp;&nbsp;Yahoo</a>
                <a href="#" onclick="janrain.engage.signin.triggerFlow('linkedin')" class="capture_secondary capture_fox_social_btn capture_linkedin"><span class="janrain-provider-icon-24"><img src="//global.fncstatic.com/static/v/all/img/clear.gif" alt="LinkedIn" height="24" width="24" /></span>&nbsp;&nbsp;Linkedin</a>
                <a href="#" onclick="janrain.engage.signin.triggerFlow('aol')" class="capture_secondary capture_fox_social_btn capture_aol"><span class="janrain-provider-icon-24"><img src="//global.fncstatic.com/static/v/all/img/clear.gif" alt="AOL" height="24" width="24" /></span>&nbsp;&nbsp;AOL</a> {* /linkAccountContainer *}
                <div class="hr"></div>
                <div class="capture_form_item">
                    {* submitButton *}
                </div>
                {* /editProfileForm *}
            </div>
        </div>
        <div class="profile-footer">
            <div class="fox-logo"></div>
            <p>&copy;2015 FOX News Network, LLC. All rights reserved.</p>
            <p>This material may not be published, broadcast, rewritten, or redistributed.</p>
            <p>All market data delayed 20 minutes.</p>
            <p><a href="//www.foxnews.com/about/privacy-policy" target="_blank">Privacy</a> - <a href="//www.foxnews.com/about/terms-of-use" target="_blank">Terms</a> - <a href="//help.foxnews.com/index.html" target="_blank">FAQ</a></p>
        </div>
    </div>
    <div style="display:none;" id="newPasswordSuccess" class="capture_med_footer">
        <h2>You did it!</h2>
        <div class="hr"></div>
        <p>Your password has been successfully changed.</p>
        <div class="capture_footer">
            <a href="#" class="capture_btn capture_secondary">Close</a>
        </div>
    </div>
    <div style="display:none;" id="changepassword">
        <h2>Change Your Password</h2>
        <div class="hr"></div>
        {* newPasswordForm *} {* oldpassword *} {* newpassword *} {* newpasswordConfirm *}
        <div class="capture_textRight">
            <a href="#" data-capturescreen="forgotPassword">I forgot my password</a> {* newPasswordFormButton *}
        </div>
        {* /newPasswordForm *}
    </div>
    <div style="display: none;" id="publicProfile">
        <h2>Member Profile</h2>
        <div class="make-acc">Don't have an account? <a onclick="window.janrain.capture.ui.renderScreen('signIn')">Create One Now</a></div>
        <div class="capture_profile_section">
            <div class="capture_profile_pic capture_default inline">
                <div id="profile_pic" class="capture_default">
                    {* profilePhotoCustom *}
                </div>
            </div>
        </div>
        <div class="capture_profile_section">
            <h2 class="capture_display_name">{* public_displayName *}</h2> {* member_since *} {* public_city *} {* public_state *} {* public_country *} {* public_birthdate *} {* public_gender *}
        </div>
        <div class="capture_data_item">
            {* slider_public *}
        </div>
        <!--
    <div class="rank">
        <h3>Rank</h3>
        <div></div>
        <span>advisor</span>
        <img src="//global.fncstatic.com/static/v/all/img/loader-trans-3.gif" />
    </div>
    -->
        <div class="user-stats">
            <h3>User Stats</h3>
            <div class="hr"></div>
            <div class="fox_table_row capture_fox_dashed">
                <h4 class="capture_left"><a href="//www.foxnews.com/community/user/profile/public#{* public_displayName *}">Comments</a></h4>
                <h3 class="capture_right" id="fox_lf_comments"><img src="//<%= @staticDomain %>/static/v/all/img/loader-trans-2.gif" /></h3>
            </div>
            <div class="fox_table_row capture_fox_dashed">
                <h4 class="capture_left">Likes</h4>
                <h3 class="capture_right" id="fox_lf_likes"><img src="//<%= @staticDomain %>/static/v/all/img/loader-trans-2.gif" /></h3>
            </div>
            <div class="fox_table_row capture_fox_dashed">
                <h4 class="capture_left">Shares</h4>
                <h3 class="capture_right" id="fox_jr_shares">{* public_shares *} </h3>
            </div>
        </div>
    </div>
    <div style="display:none;" id="signIn">
        <h2>Sign In</h2>
        <div class="capture_signin">
            <h3>With your existing account</h3>
            <div class="hr"></div>
            <a href="#" onclick="janrain.engage.signin.triggerFlow('facebook')" class="capture_secondary capture_fox_social_btn capture_facebook"><span class="janrain-provider-icon-24 janrain-provider-icon-facebook-custom"></span>&nbsp;&nbsp;Facebook</a>
            <a href="#" onclick="janrain.engage.signin.triggerFlow('googleplus')" class="capture_secondary capture_fox_social_btn capture_google"><span class="janrain-provider-icon-24 janrain-provider-icon-google-custom"></span>&nbsp;&nbsp;Google+</a>
            <a href="#" onclick="janrain.engage.signin.triggerFlow('twitter')" class="capture_secondary capture_fox_social_btn capture_twitter"><span class="janrain-provider-icon-24 janrain-provider-icon-twitter-custom"></span>&nbsp;&nbsp;Twitter</a>
            <a href="#" onclick="janrain.engage.signin.triggerFlow('yahoo')" class="capture_secondary capture_fox_social_btn capture_yahoo"><span class="janrain-provider-icon-24 janrain-provider-icon-yahoo-custom"></span>&nbsp;&nbsp;Yahoo</a>
            <a href="#" onclick="janrain.engage.signin.triggerFlow('linkedin')" class="capture_secondary capture_fox_social_btn capture_linkedin"><span class="janrain-provider-icon-24 janrain-provider-icon-linkedin-custom"></span>&nbsp;&nbsp;Linkedin</a>
            <a href="#" onclick="janrain.engage.signin.triggerFlow('aol')" class="capture_secondary capture_fox_social_btn capture_aol"><span class="janrain-provider-icon-24 janrain-provider-icon-aol-custom"></span>&nbsp;&nbsp;AOL</a>
            <div class="capture_fox_clearfix">
                <h3 class="capture_left">With a Fox News account</h3>
                <a href="#" data-capturescreen="traditionalRegistration" class="capture_right capture_fox_marginTop">Sign Up &rarr;</a>
            </div>
            <div class="hr"></div>
            {* #userInformationForm *} {* traditionalSignIn_emailAddress *} {* traditionalSignIn_password *}
            <div class="capture_fox_buttoncol">
                <a href="#" data-capturescreen="forgotPassword">I forgot my password</a> {* traditionalSignIn_signInButton *}
            </div>
            {* /userInformationForm *}
            <p>Find answers to your questions about the Fox News Community in our <a href="//help.foxnews.com/index.html" target="_blank">FAQs</a>.</p>
        </div>
    </div>
    <div style="display:none;" id="returnSocial">
        <h2>Sign In</h2>
        <div class="hr"></div>
        <h3>Welcome back, {* welcomeName *} (<a href="#" data-cancelcapturereturnexperience="true" data-capturescreen="signIn">not you?</a>)</h3>
        <div class="capture_fox_clearfix">
            <h3 class="capture_left">Sign In with your account</h3>
            <div class="capture_right capture_fox_marginTop"><a href="#" data-cancelcapturereturnexperience="true" data-capturescreen="signIn">Use another account &rarr;</a></div>
        </div>
        <div class="hr"></div>
        <a href="#" onclick="janrain.engage.signin.triggerFlow('{* returnProvider *}')" class="capture_secondary capture_fox_social_btn capture_{* returnProvider *}"><span class="janrain-provider-icon-24 janrain-provider-icon-{* returnProvider *}-custom"></span>&nbsp;&nbsp;{* returnProvider *}</a>
        <div class="capture_fox_clearfix">
            <a href="//www.foxnews.com/about/privacy-policy" target="_blank" class="capture_right">Privacy Policy</a>
        </div>
    </div>
    <div style="display:none;" id="forgotPassword">
        <h2>Forgot My Password</h2>
        <div class="hr"></div>
        <h3>Enter your current email address, and we'll send you instructions to create a new password.</h3> {* #forgotPasswordForm *} {* forgotPassword_emailAddress *}
        <div class="capture_textRight">
            {* forgotPassword_sendButton *}
        </div>
        {* /forgotPasswordForm *}
    </div>
    <div style="display:none;" id="forgotPasswordSuccess">
        <h2>Forgot My Password</h2>
        <div class="hr"></div>
        <div class="capture_fox_clearfix">
            <h3 class="capture_left">Success! You should receive an email shortly with instructions to change your password.</h3>
            <a href="#" class="capture_btn capture_primary capture_right" onclick="janrain.capture.ui.modal.close()">Close</a>
        </div>
    </div>
</body>

</html>