body {
  font-family: Arial, sans-serif;
}

body[data-auth="false"] .hide-login,
body[data-auth="true"] .show-login {
    display: initial;
}

body[data-auth="false"] .show-login,
body[data-auth="true"] .hide-login {
    display: none;
}




/*********************** PROFILE ************************/

body {
    background-color: #F0F0F0;
    margin: 30px;
}

#profile {
    width: 500px;
    padding: 24px;
    margin: 25px 0 0;
    background: #fff;
    -webkit-box-shadow: 0 0 6px #999;
    -moz-box-shadow: 0 0 6px #999;
    box-shadow: 0 0 6px #999;
}

#profile h3 {
  font: 700 16px arial,sans-serif;
  color: #333;
  font-family: Helvetica,Arial,sans-serif;
  text-transform: none;
}

#accounts-header {
    border-bottom: 2px solid #242424;
    margin: 0 0 24px;
}

#profile-header {
  
}

#profile-editor div div{
  /*disable default json editor values*/
/*    padding-left: 0px;
    margin-left: 0px;
    border-left: none;*/
}

#profile-controls {

    margin-left: 15px;
    display: inline-block;
    width: 200px;
    vertical-align: top;
}

#profile-controls #back-button {
    cursor: pointer;
/*    float: left;*/
}

#profile-image {
    display: inline-block;
    vertical-align: middle;
    border: 2px solid #000;
}

/*temporary fix for social media images that are not the same size*/
#profile-image img {
    width: 120px;
    height: 120px;
}

#display-name {
    font-size: 36px;
    font-weight: 700;
    color: #333;
    margin-bottom: 10px;
}

/* JSON Editor */
div#profile-editor > div > div {
    border: none !important;
    padding-left: 0 !important;
    margin-left: 0 !important;
}

/* Styling */
input[type='text'] {
    font: 400 14px arial,sans-serif;
    color: #000;
    margin: 2px 5px;
    width: 288px!important;
    padding: 8px 0 8px 12px!important
}

div[data-schematype="string"] label {
    overflow: visible;
    height: auto;
    display: inline-block;
    vertical-align: middle;
    width: 119px;
    text-align: right;
    text-indent: inherit
}

div[data-schematype="boolean"] {
    margin-left: 40px;
} 

div[data-schemapath="root.party"] {
    margin-bottom: 20px;
}

.btn {
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzIzNGU2YyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxMDJjM2QiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,#234e6c 0,#102c3d 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#234e6c),color-stop(100%,#102c3d));
    background: -webkit-linear-gradient(top,#234e6c 0,#102c3d 100%);
    background: -o-linear-gradient(top,#234e6c 0,#102c3d 100%);
    background: -ms-linear-gradient(top,#234e6c 0,#102c3d 100%);
    background: linear-gradient(to bottom,#234e6c 0,#102c3d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#234e6c', endColorstr='#102c3d', GradientType=0 );
    text-shadow: 0 1px 1px rgba(0,0,0,.45);
    font-family: helvetica,sans-serif;
    font-weight: 700;
    font-size: 12px;
    color: #fff;
    text-align: center;
    border: none;
    padding: 10px;
    margin: 3px;
    display: inline-block;
}

select {
    margin: 0;
    width: 231px;
    -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background: url(http://www.foxnews.com/static/v/all/img/live-fyre/down-arrow.png) 96% 50% no-repeat;
    -moz-appearance: none;
    font-size: 13px;
    font-family: Helvetica,sans-serif;
    border: 1px solid #ccc;
    color: #000;
    margin: 2px 5px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 0 4px 5px -3px rgba(0,0,0,.1) inset;
    -webkit-box-shadow: 0 4px 5px -3px rgba(0,0,0,.1) inset;
    box-shadow: 0 4px 5px -3px rgba(0,0,0,.1) inset;
    background-color: #fff;
    padding: 9px 0 9px 6px;
}

