@import url("https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.9/sweetalert2.min.css");

body:not(.signup) {
    font-family: Arial, sans-serif;
}

body[data-auth="false"] .hide-login,
body[data-auth="true"] .show-login {
    display: initial;
}

body[data-auth="false"] .show-login,
body[data-auth="true"] .hide-login {
    display: none;
}




.hide {
    display: none;
}


/*********************** SIGN UP ************************/

body.signup,
html {
    height: 100%;
    background-color: #f9f9f9;
}

body.signup h3,
body.signup h5 {
    color: #002e56;
    font-weight: 300;
}

label {
    color: #002e56;
    font-weight: 500 !important;
}

.signup-container {
    position: relative;
    height: 100%;
}

.signup-box {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 15px;
    background-color: #fff;
    box-shadow: 0px 5px 5px #ccc;
    border-radius: 5px;
    border-top: 1px solid #e9e9e9;
}

.signup-header {
    text-align: center;
}

.signup-header img {
    width: 75px;
}

#error-message {
    display: none;
}


/*progressbar*/

#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
}

#progressbar li {
    list-style-type: none;
    color: #002e56;
    text-transform: uppercase;
    font-size: 10px;
    /*width: 24.33%;*/
    width: 29.33%;
    float: left;
    position: relative;
    text-align: center;
}

#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 20px;
    line-height: 20px;
    display: block;
    font-size: 10px;
    color: #333;
    background: white;
    border-radius: 3px;
    margin: 0 auto 5px auto;
}


/*progressbar connectors*/

#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: white;
    position: absolute;
    left: -50%;
    top: 9px;
    z-index: -1;
    /*put it behind the numbers*/
}

#progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none;
}


/*The number of the steps and the connector before it = green*/

#progressbar li.active:before,
#progressbar li.active:after {
    background: #002e56;
    color: white;
}






/*********************** PROFILE ************************/

body {
    background-color: #F0F0F0;
    margin: 30px;
}

#profile {
    width: 700px;
    padding: 24px;
    margin: 25px 0 0;
    background: #fff;
    -webkit-box-shadow: 0 0 6px #999;
    -moz-box-shadow: 0 0 6px #999;
    box-shadow: 0 0 6px #999;
}

#profile h3 {
    font: 700 16px arial, sans-serif;
    color: #333;
    font-family: Helvetica, Arial, sans-serif;
    text-transform: none;
}

.hr {
    border-bottom: 1px #bbb solid;
    height: 0;
    margin: 10px 0 15px;
    display: block;
}

#profile-header {}

#profile-editor div div {
    /*disable default json editor values*/
    /*    padding-left: 0px;
    margin-left: 0px;
    border-left: none;*/
}

#profile-controls {
    margin-left: 15px;
    display: inline-block;
    width: 200px;
    vertical-align: top;
}

#profile-controls>a {
    display: block;
    padding-left: 28px;
    font: 700 14px arial, sans-serif;
    color: #183a52;
    margin: 0 0 6px;
    cursor: pointer;
}

#profile-controls #back-button {
    cursor: pointer;
    /*    float: left;*/
}

#profile-image {
    display: inline-block;
    vertical-align: middle;
    border: 2px solid #000;
}




/*temporary fix for social media images that are not the same size*/

#profile-image img {
    width: 139px!important;
    height: 139px!important;
}

#display-name {
    font-size: 36px;
    font-weight: 700;
    color: #333;
    margin-bottom: 10px;
}

#change-pass {
    /* background: url(/static/v/all/img/live-fyre/icons.png) 0 -38px no-repeat;*/
    background: url(/auth0-good-poc/images/icons.png) 0 -38px no-repeat;
}



/* JSON Editor */


/*div#profile-editor>div>div {
    border: none !important;
    padding-left: 0 !important;
    margin-left: 0 !important;
}
*/


/* Styling */

input[type='text']:not(.form-control) {
    font: 400 14px arial, sans-serif;
    color: #000;
    margin: 2px 5px;
    width: 288px!important;
    padding: 8px 0 8px 12px!important;
}

div[data-schematype="string"] label {
    color: #666;
    font: 400 14px arial, sans-serif;
    overflow: visible;
    height: auto;
    display: inline-block;
    vertical-align: middle;
    width: 119px;
    text-align: right;
    text-indent: inherit;
    margin: 0 10px 0 5px;
}

div[data-schematype="boolean"] {
    margin-left: 40px;
    /*    width: 273px;*/
    font: 400 14px arial, sans-serif;
    color: #000;
    margin: 0 0 12px;
}

div[data-schematype="boolean"]>input {
    font-weight: normal;
    display: inline-block;
    width: auto;
}

div[data-schemapath="root.party"] {
    margin-bottom: 20px;
}

.btn {
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzIzNGU2YyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxMDJjM2QiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #234e6c 0, #102c3d 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #234e6c), color-stop(100%, #102c3d));
    background: -webkit-linear-gradient(top, #234e6c 0, #102c3d 100%);
    background: -o-linear-gradient(top, #234e6c 0, #102c3d 100%);
    background: -ms-linear-gradient(top, #234e6c 0, #102c3d 100%);
    background: linear-gradient(to bottom, #234e6c 0, #102c3d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#234e6c', endColorstr='#102c3d', GradientType=0);
    text-shadow: 0 1px 1px rgba(0, 0, 0, .45);
    font-family: helvetica, sans-serif;
    font-weight: 700;
    font-size: 12px;
    color: #fff;
    text-align: center;
    border: none;
    padding: 10px;
    margin: 3px;
    display: inline-block;
}

button#save-profile {
    font: 700 14px arial, sans-serif;
    padding: 13px;
}

#back-button span {
    /* background: url(/static/v/all/img/live-fyre/arrow-white.png) no-repeat;*/
    background: url(/auth0-good-poc/images/arrow-white.png) no-repeat;
    height: 6px;
    width: 14px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 3px;
}

select {
    margin: 0;
    width: 231px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    /*background: url(/static/v/all/img/live-fyre/down-arrow.png) 96% 50% no-repeat;*/
    background: url(/auth0-good-poc/images/down-arrow.png) 96% 50% no-repeat;
    -moz-appearance: none;
    font-size: 13px;
    font-family: Helvetica, sans-serif;
    border: 1px solid #ccc;
    color: #000;
    margin: 2px 5px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 0 4px 5px -3px rgba(0, 0, 0, .1) inset;
    -webkit-box-shadow: 0 4px 5px -3px rgba(0, 0, 0, .1) inset;
    box-shadow: 0 4px 5px -3px rgba(0, 0, 0, .1) inset;
    background-color: #f6f6f6;
    padding: 9px 0 9px 6px;
    vertical-align: middle;
    display: inline-block;
    text-transform: capitalize;
    /*text-align: center;*/
}

.profile-footer {
    width: 700px;
    margin: 31px 0 0 -5px;
    padding: 24px 0 0;
    border-top: 1px solid #bbb;
}

.profile-footer p {
    font: 400 11px arial, sans-serif;
    color: #999;
    margin: 0 0 3px;
    padding: 0;
}

.profile-footer p a {
    color: #183a52;
    text-decoration: none;
}

.fox-logo {
    width: 60px;
    height: 56px;
    margin: 0 12px;
    /*    background: url(/static/v/all/img/live-fyre/fn-logo-footer.png) no-repeat;*/
    background: url(/auth0-good-poc/images/fn-logo-footer.png) no-repeat;
    float: left;
}

.errmsg {
    display: none !important;
}

div#errors>.error {
    background: red;
    color: white;
    padding: 10px;
    margin: 13px 0;
}


/*
Political timeline*/

#politicalViewsSliderWrapper {
    padding: 12px 0 0 !important;
}

.capture_slider_list ul,
#politicalViews_container {
    width: 440px;
}

#politicalViewsSliderWrapper {
    display: inline;
    padding: 0;
    width: 450px;
}

#politicalViews_container {
    height: 35px;
}

#politicalViews_base.capture_slider_base {
    margin: 6px 0 10px;
}

#politicalViews_labels {
    font-size: 0;
    padding-left: 0;
}

#politicalViews_labels li {
    width: 92px;
    font-size: 12px;
}

#politicalViews_labels li:first-child {
    margin: 0 0 0 2px;
}

#politicalViewsSliderWrapper {
    position: relative;
}

.capture_slider_base {
    display: block;
    position: relative;
    height: 5px;
    margin: 15px 0 10px;
    width: 100%;
    border: 1px solid #ccc;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.capture_slider_base .capture_slider_marker {
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    background-color: #333;
    position: absolute;
    top: -5px;
    width: 15px;
    margin-left: -10px;
    height: 16px;
}

.capture_slider_list ul {
    text-align: left;
    width: 480px;
}

.capture_slider_list ul li {
    display: inline-block!important;
    text-align: left;
}

.capture_slider_list ul li {
    display: inline;
    margin: 0;
}

.capture_slider_base .capture_slider_marker:after {
    border-color: #333 transparent transparent transparent;
    border-style: solid;
    border-width: 6px;
    display: block;
    height: 0;
    margin: 0;
    width: 0;
    content: "";
    position: absolute;
    top: 13px;
    left: 1px;
}